<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1045912264061-70offg4qjpq38j4vf0g0nfv2rl493umg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1045912264061-70offg4qjpq38j4vf0g0nfv2rl493umg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1045912264061-hogvk5iok44ud8p8r58o3q1ei8pedehr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyATumRFsw6giimEXS3U_dYzt-MPnoiaH-E</string>
	<key>GCM_SENDER_ID</key>
	<string>1045912264061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.timeTracker</string>
	<key>PROJECT_ID</key>
	<string>time-tracker-5d437</string>
	<key>STORAGE_BUCKET</key>
	<string>time-tracker-5d437.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1045912264061:ios:2d8240b39c565f557a8014</string>
</dict>
</plist>